.App {
  text-align: center;
}

.Waiting {
  animation: waiting 3s infinite;
}

@keyframes waiting {
  25%  {background-color: rgb(22,162,185);}
  25%  {background-color: lightblue;}
  25%  {background-color: rgb(22,162,185);}
  25%  {background-color: lightblue;}
}
